<%= simple_form_for @residence, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :owner_name %>
  <%= f.input :address %>
  <%= f.input :town %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                residences_path, :class => 'btn' %>
  </div>
<% end %>
