- model_class = Residence.new.class

.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

= link_to t('.new', :default => t("helpers.links.new")),
          new_residence_path,
          :class => 'btn btn-primary'

%table(class="table table-striped")
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:owner_name)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:town)
      %th=t '.actions', :default => t("helpers.actions")

    - @residences.each do |residence|
      %tr
        %td= residence.id
        %td= link_to residence.owner_name, residence_path(residence)
        %td= residence.address
        %td= residence.town
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_residence_path(residence), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                    residence_path(residence),
                    :method => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class => 'btn btn-mini btn-danger'
