- model_class = @nationality.class

.page-header
  %h1=t '.title', :default => model_class.model_name.human

%dl.dl-horizontal
  %dt
    %strong= model_class.human_attribute_name(:name) + ":"
  %dd= @nationality.name

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")),
            nationalities_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_nationality_path(@nationality), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")),
            nationality_path(@nationality),
            :method => 'delete',
            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
            :class => 'btn btn-danger'
