- model_class = Apartment.new.class

.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

= link_to t('.new', :default => t("helpers.links.new")),
          new_apartment_path,
          :class => 'btn btn-primary'

%table#apartments(class="table table-striped display")
  %thead
    %tr
      %th= model_class.human_attribute_name(:number)
      %th= model_class.human_attribute_name(:apartment_type_name)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @apartments.each do |apartment|
      %tr
        %td= link_to apartment.number, edit_apartment_path(apartment)
        %td= apartment.apartment_type.name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_apartment_path(apartment),
                    :class => 'btn btn-mini btn-info'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
                    apartment_path(apartment),
                    :method => :delete,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                    :class => 'btn btn-mini btn-danger'
