!!! 5
%html
%head
  %title MiGuest::Villa Marta
  /[if lt IE 9]
    %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript")

  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
%body
  %div(class="navbar navbar-fixed-top")
    .navbar-inner
      .container
        %a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand(href="#") MiGuest Villa Marta
        .nav-collapse
          %ul.nav
            - if params[:controller] == 'accommodations'
              %li.active= link_to t('application.menu.accommodations'), accommodations_path
            - else
              %li= link_to t('application.menu.accommodations'), accommodations_path

            - if params[:controller] == 'guests'
              %li.active= link_to t('application.menu.guests'), guests_path
            - else
              %li= link_to t('application.menu.guests'), guests_path
            - if params[:controller] == 'apartments'
              %li.active= link_to t('application.menu.apartments'), apartments_path
            - else
              %li= link_to t('application.menu.apartments'), apartments_path              

            %li.dropdown
              %a.dropdown-toggle(id="drop1" role="button" data-toggle="dropdown" data-target="#" href="#")
                = t('application.menu.settings')
                %b.caret
              %ul.dropdown-menu(id="menu1" role="menu" aria-labelledby="drop1")
                %li= link_to t('application.menu.nationalities'), nationalities_path
                %li= link_to t('application.menu.countries'), countries_path
                %li= link_to t('application.menu.residences'), residences_path
                %li= link_to t('application.menu.document_types'), document_types_path
                %li= link_to t('application.menu.period_prices'), period_prices_path 
                %li= link_to t('application.menu.apartment_types'), apartment_types_path            
                          
          %ul{ :class => "nav pull-right" }
            - if current_user
              %li= link_to  current_user.username, "#"
              %li= link_to t('application.logout'), logout_path
  .container
    - flash.each do |name, msg|
      - flash_type = name == :notice ? "success" : "error"
      %div(class="alert alert-#{flash_type}")
        %a(class="close" data-dismiss="alert") ×
        = msg
    = yield
